@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');
.mainContainer{
    display: grid;
}
.mainContainer .titleContainer{
    display: flex;
    position: relative;
    top: 100px;
    justify-content: center;
}
.mainContainer .logo{
    height: 36px;
    width: 36px;
}

.mainContainer .titleText{
    font-family: 'Inter';
    font-size: 30px;
    font-weight: 700;
    letter-spacing: -2px;
    margin-left: 15px;
}

.mainContainer .c-bannerContainerStyle {
    position: relative;
    top: 300px;
    margin-left: auto;
    margin-right: auto;
}

.mainContainer .formArea{
    display: grid;
    grid-template-rows: auto auto;
    justify-content: center;  
    margin-top: 375px;
}

.mainContainer .formArea2{
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;  
    margin-top: 375px;
}

.mainContainer .c-containerStyle{
    margin: 9px;
    margin-bottom: 24px;
    }

.mainContainer .c-inputBoxStyle{
    width: 400px;
}

.mainContainer .c-containerGeneric {
    width: 416px;
    padding-bottom: 20px;

}

.mainContainer .c-buttonGeneric{
    top: 0px;
    width: 416px;
    margin-bottom: 200px;
}

.mainContainer .c-buttonGeneric:disabled{
    background-color: #586275;

}

.selectedCont1{
    font-family: 'Inter';
    text-align: justify;
    width: 184px;
    height: 184px;
    border: 2px solid #664DE5;
    border-radius: 7px;
    padding: 5px;
}

.selectedCont1 .c-containerTextStyle{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    font-weight: bold;
    width: 124px;
    color: #586275;

}

.selectedCont1 .c-containerSubTextStyle{
    width: 124px;
    margin-left: auto;
    margin-right: auto;
    color: #AFB7C9;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;    
}

.selectedCont1 path{
    fill: #664DE5;
}

.mainContainer .selectedCont1{
    margin: 9px;
    margin-bottom: 24px;
    }


.selectedCont2{
    font-family: 'Inter';
    text-align: justify;
    width: 184px;
    height: 184px;
    border: 2px solid #664DE5;
    border-radius: 7px;
    padding: 5px;
}
    

.selectedCont2 .c-containerTextStyle{
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.33em;
    margin-bottom: 1.33em;
    font-weight: bold;
    width: 124px;
    color: #586275;

}

.selectedCont2 .c-containerSubTextStyle{
    width: 124px;
    margin-left: auto;
    margin-right: auto;
    color: #AFB7C9;
    font-family: 'Inter';
    font-weight: 500;
    font-size: 14px;    
}

.selectedCont2 path{
    fill: #664DE5;
}

.mainContainer .selectedCont2{
    margin: 9px;
    margin-bottom: 24px;
    }

.mainContainer .progressTracker{
    display: flex;
    justify-content: center;
    margin-top: 120px;

}

.mainContainer .pageSize{
    margin-top: -270px;
}
