@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

.c-containerGeneric{
    display: inline-grid;
    width: 367px;
    height: 81px;
}

.c-inputHeader{
    font-family: 'Inter';
    font-weight: 600;
    font-size: 14px;
    text-align: left;
    margin-bottom: 10px;
    color: #586275;
}

.c-inputBoxStyle{
    height: 46px;
    width: 350px;
    border-radius: 7px;
    border: 2px solid #F4F6FA;
    padding-left: 10px;
    font-weight: 500;    
    color: #AFB7C9;
    font-size: 14px;
    font-family: 'Inter';
}

.optionalText{    
    color: #AFB7C9;
}

.c-inputBoxStyle:focus{
    border: 2px solid #664DE5;
    outline: none;
}
::placeholder{
    font-family: 'Inter';
    color: #AFB7C9;
}

